* { -moz-box-sizing: border-box;
-webbkit-box-sizing: border-box; box-sizing:
border-box;}

/* body ruler here */
body {
    font-family: Verdana;
    font-size: 16px;
}

/* header tules here */
header {
    background-color: #ffffff;
    padding: 1rem 2%;
}
header h1 {
    margin: 0;

}header h2 {
    margin: 0;
}


/* navigation rules here */

nav {background-color: rgb(216, 188, 32);}
nav ul {margin: 0; padding: 0;}
nav li {list-style-type: none;}
nav li.active {background-color: rgb(70, 70, 70);}

nav a {
    display: block;
    padding: .8rem 0; /*44 min height */
    color: #eee;
    text-align: center;
    text-decoration: none;
}
nav a:hover {background-color: rgb(90, 90, 90);}

/* main rules here */
main {
    padding: 1rem 2%;
    display: block;
}
main h1 {
    color: #7ed1f5;}

main figure img{
        width: 100%;
    }
main figure {
    width: 100%;
    margin: 0;
}
main figcaption {text-align: center; font-size: .8rem;}

footer {
    text-align: center;
    padding: 1rem 2%;
    background-color: #7ed1f5;
}





.clearfix:after {
    content: "";
    display: table;
    clear: both;
}