@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

.tile {
    background-color: #7fb9c2;
    text-align: center;
    color: white;
    font-family: 'Ubuntu', sans-serif;

}

.headings {
    background-color: #628ca6;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;

}

.rows {
    background-color: #e7f0ed;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;

}

.oporows {
    background-color: #e7ffed;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;

}
.goals {
    background-color: #628ca6;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}