font-family 'Ubuntu', sans-serif;

.title {
    background-color: #7fb9c2;
    text-align: center;
    color: white;
}

.headings {
    background-color: #628ca6;
    text-align: center;
}

.rows {
    background-color: #e7ffed;
    text-align: center;
}

.oporows {
    background-color: #e7f0ed;
    text-align: center;
}