/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

header, nav, main, footer {
    max-width: 64rem;
    margin:auto;
}

/*----------- BODY --------------*/
.herodiv {
    margin: 10px auto;
    position: relative;
    border: 1px dashed cyan;
    /*width: 960px;
    height: 300px;
    */ 
}

/*
.hero-ph {
   margin: 10px auto;
   background-color: rgb(207, 14, 14);
   border: 1px solid #333;
   width: 95%;
   height: 250px; 
}

*/

.weathersummary {
    position: absolute;
    top: 25px;
    left: 50px;
    background: radial-gradient(#eee, lightgreen);
    border: 1px solid #000;
    padding: 1.5rem;
    box-shadow: 0 0 30px #777;
}


/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}
main figure.myphoto {
    width: 50%;
    margin: 0 0 0 2%;
    float: right;
}
main figure.myphoto img{
    width: 100%;
}
div.row section:nth-child(2) {
    width: 50%; float: left;
}
div.row section:nth-child(3) {
    width: 50%; float: left;
}
/*----------- FOOTER --------------*/
footer {
    clear: both;
    background-color: #8b8be1;
    padding: .5rem 2%;
    text-align: center;
}