/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

nav button {display: none;}
    
header, nav, main, footer {
    max-width: 64rem;
    margin:auto;
}

/*----------- BODY --------------*/


/*----------- HEADER --------------*/

header h1 {
    font-size: 2rem; margin-top: 1rem; margin-left: 1.5rem;
}
header h2 {
    font-size: 1.5rem; margin-left: 1.5rem;
}
/*----------- NAVIGATION --------------*/

nav ul.hide {
    display: block;
}
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}
div.temples {
    display: flex;
    flex-wrap: wrap;
}
.herodiv {
    margin: 10px auto;
    position: relative;
    width: 100%;
}
.weather {
    position: absolute;
    top: 5px;
    left: 5px;
    border: 1px white;
    padding: .5rem;
    box-shadow: 0 0 10px #777;
}
.hometext {
    display: flex;
    flex-wrap: wrap;
}
.homeimg {
    position: center;
}

.norm:hover {
    box-shadow: 0 0 50px #333;
} 

form label.sbs {
    padding: .4rem 0;
}
figure {
    margin: 0 0 2rem 5.5rem; width: 80%;
}
figure img {
    width: 100%;
}
/*----------- FOOTER --------------*/
div.footer {
    text-align: center;
    background-color: #5d576b;
    color: #D1DFFC;
    
}
footer {
    clear: both;
    padding: .5rem 2%;
    text-align: center;
}
