/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {

nav button {display: none;}
/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header img {
    width:auto;
}
header h1 {
    font-size: 2rem; margin-top: 1rem; margin-left: 1.5rem;
}
header h2 {
    font-size: 1.5rem; margin-left: 1.5rem;
}
/*----------- NAVIGATION --------------*/
nav ul {
    margin-left: 2%;
}
nav ul.hide {
    display: block;
}
nav ul li {
    float: left;
}
nav ul li a {
        padding: .5rem 1rem;}

/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}
.norm:hover {box-shadow: 0 0 50px #333;} 

.hide {
    display: block;
}
.towns section {
    flex-basis: 46%;
}
.events section {
    flex-basis: 46%;
}
.weather {
    position: absolute;
    top: 5px;
    left: 5px;
    border: 1px white;
    padding: .5rem;
    box-shadow: 0 0 30px white;
    font-size: 1.3rem;
    color: white;
    font-family: 'Roboto', sans-serif;
}
/*----------- FOOTER --------------*/

footer {
    clear: both;
    background-color: #8b8be1;
    padding: .5rem 2%;
    text-align: center;
}