@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*----------- BODY --------------*/
body {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
}
/*----------- HEADER --------------*/
header {
    font-family: 'Corbel', sans-serif;
    padding: 1.8rem 3%;
    background-color: #FFED4C;
    display: grid;
    grid-template-columns: 130px center;
}
header img{
    float: left; 
    margin-right: 5px; 
    margin-left: 5px; 
    margin-top: 5px; 
    width: 45px;
}
header h1 {
    font-family: 'Helvetica', sans-serif;
    font-size: 1.3rem;
    color: #5D576B;
    margin-top: 1rem;
    margin: 0;
}
header h2 {
    font-family: 'Helvetica', sans-serif; 
    font-weight: normal; 
    font-size: 1rem; 
    color: #5D576B;
    margin: 0; 
}
/*----------- NAVIGATION --------------*/
nav button {
    font-size:  1.5rem;
    background-color: transparent;
    margin: .2rem 2%;
    border: none;
}
nav {
    font-family: 'Roboto', sans-serif;
    background-color: #5D576B;
    
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    font-size: .9rem;
    display: block;
    color: #eee;
    padding: .5rem 0;
    text-decoration: none;
    text-align: center;
    border-top: 1px solid rgba(0,0,0,0.3);
}
nav ul li a:hover {
    background-color: #FEFFD6;
    color: #5D576B;
}
nav ul li.active a {
    background-color: #D1DFFC;
    color: #5D576B;
}
nav ul.hide {
    display: none;
}
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}
.norm:hover {box-shadow: 0 0 50px #333;} 
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Helvetica, Arial, sans-serif;
    color: #5D576B;
}
div.contact {
    display: flex; 
    flex-wrap: wrap;
}
.herodiv {
    margin: 10px auto;
    position: relative;
    width: 100%;
}
.herodiv figure.herodiv img{
    width: 100%;
}
div.temples {
    display: flex;
    flex-wrap: wrap;
}
.weather {
    position: absolute;
    top: 5px;
    left: 5px;
    border: 1px white;
    padding: .5rem;
    box-shadow: 0 0 10px white;
    font-size: .8rem;
    color: black;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.hometext {
    display: flex;
    flex-wrap: wrap;
}
.homeimg {
    position: center;
}

main h1 {
    padding: 0;
}

/*----------- FORM ---------------*/
form fieldset {
    margin: 2rem 0;
    border: 2.5px solid #FFED4C;
    border-radius: 10px;
    padding: 1rem 2%;
    
}
form legend {
    color: #555;
    margin: 0 1rem;
    padding: 0 .5rem;
    
}
form label.top, form div{
    display: block;
    padding-top: 1rem;
    color: #FFED4C;
    font-size: 1.3rem;
}
form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1.3rem;
    border: solid 1px rgb(159, 205, 216);
    border-radius: 4px;
    padding: .75rem;
    color: rgba(0,0,0,0.5);
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
    
}
form label.mid {
    display: block;
    padding: .8rem 1.4rem;
    color: #555;
}
form input.submitBtn {
    border: none;
    background-color: #FFED4C;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
form label.top input:required {
    border-left: #D1DFFC 4px;
}
form label.top input:required:valid {
    border-left: #D1DFFC 4px; 
}
/*----------- Footer --------------*/
div.footer {
    text-align: center;
    background-color: #5D576B;
    color: #D1DFFC;
}
footer {
    font-family: 'Roboto', sans-serif;
    background-color: #FFED4C;
    text-align: center;
    clear: both;
    padding: .25rem 1%;
}
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}